/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$font:'Dancing Script', cursive;
$grey:#474R56;
$brown:#C68f71;
$white:#ffffff;

h1 {
	font-family:$font;
	color:$grey;
	font-size:3em;
}

#wrapper{
	width:100%;
	height:100vh;
}

header{
	margin:0 auto;
	width:100%;
	text-align:center;
	height:auto;
}

#form{
	margin:0 auto;
	width:100%;
	text-align:center;
	height:auto;
}

input {
	width:30%;
	height:3em;
	margin-bottom:2em;
}

.submit{
	border:none;
	border-radius:5px;
	background:#00ff00;
	color:#000000;
}